# Frontend
Frontend/node_modules/
Frontend/dist/

# Backend
**/target/
Backend/backend/target/
Backend/backend/backend/target/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment & Secret files
.env
.env.*
*.env
*.env.local
application-local.properties
*.key
*.pem